@import 'primeicons/primeicons.css';

:root {
  --white: #ffffff;
  --black: #020000;
  --yellow: #fca611;
  --pink: #fb5858;
  --red: #ea332d;
  --green: #6b6f3b;
  --dark-green: #314826;
  --gray: #c6ccd8;
  --blue: #469cb0;
  --dark-blue: #2D2C58;

  --hero-title: #F3E8D0;
  --background: #F7F5F0;

  --gap: 4px;
  --gap-2x: calc(var(--gap) * 2);

  font-family: 'InterVariable', sans-serif;
  line-height: 24px;
  color: var(--black);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 500;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
}

@media (max-width: 640px) {
  .p-toast {
    width: calc(100vw - 2rem) !important;
  }
}
