@import 'primeicons/primeicons.css';

:root {
  --white: #FFFFFF;
  --black: #020000;
  --yellow: #FCA611;
  --pink: #FB5858;
  --red: #EA332D;
  --green: #6B6F3B;
  --dark-green: #314826;
  --gray: #C6CCD8;
  --blue: #469CB0;
  --dark-blue: #469CB0;

  font-family: 'Inter', sans-serif;
  color: var(--black);
  background: var(--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 500;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
}

@media (max-width: 640px) {
  .p-toast {
    width: calc(100vw - 2rem) !important;
  }
}
